*{
  padding: 0;
  margin: 0;
}

h1{
  text-align: center;
  margin: 1rem 0rem;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

#expense-form{
  min-width: 40%;
  border-radius: 4px;
  padding: 1rem 1rem;
  color: white;
  background-color: rgb(36, 78, 78);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.15rem;
}

.box{
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.box input,
.box label{
  padding: 0.25rem 0.15rem;
}


.box button{
  width: 50%;
  margin: 1rem auto;
  font-weight: bolder;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background-color: rgb(27, 3, 3);
  color: white;
  margin-top: 1rem;
}