.user-message {
  display: flex;
  justify-content: end;
  align-items: start;
}

.robot-message {
  display: flex;
  align-items: start;
}

.chat-message {
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(236, 236, 236);
  max-width: 300px;
  padding: 1rem;
  border-radius: 0.5rem;
}